
html {
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
}

.flex-container {
    display: flex;
    align-items: stretch;
}
.flex-column {
    flex-direction: column;
}


body,
#editor,
.split-editor,
#preview-output-text,
#log {
    flex: 10 10 auto;
}

.split-editor {
    flex-wrap: wrap;
}
.split-editor > * {
    width: 300px;
    --min-height-px: 300px;
    min-height: max(min(90vh, 90%), var(--min-height-px));
}
#editor {
    --min-height-px: 150px;
}

.toolbar {
    margin: 8px 5px;
}

#preview-output {
    flex: 5 10 auto;
    padding: 10px;
}
#preview-output  h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}
.log-area {
    flex: 1 10 auto;
}
.log-area h2 {
    text-align: center;
    margin: 0;
    margin: 10px;
}
#log {
    resize: none;
}